.contain {
  width: 460px;
  height: 590px;
  margin: 0 auto;
  position: relative;
}
.body {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
}
.bikinitop {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 11;
}

.bikinibottom {
  width: 250px;
  height: 500px;
  position: absolute;
  top: 12%;
  left: 22%;
  z-index: 1;
}

.model {
  width: 60px;
  height: 77px;
  position: absolute;
  top: 5%;
  left: 45.5%;
  z-index: 1;
}

.feetleft {
  width: 25px;
  height: 41px;
  position: absolute;
  bottom: 6.5%;
  left: 40.4%;
  z-index: 1;
}

.feetright {
  width: 25px;
  height: 41px;
  position: absolute;
  bottom: 6.5%;
  right: 33.3%;
  z-index: 1;
}

.hair {
  width: 180px;
  height: 200px;
  position: absolute;
  top: -4%;
  left: 31%;
  z-index: 12;
}

.background{
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}